/* CSS code in styles.css */

body {
    background-color: #331616;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {    
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #d19c9c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fffbfb;
}
